﻿﻿
@{
    ViewBag.Title = "Colaboradores";
}


@* Estilo del error *@
<style>
    form .error {
        color: red;
    }

    input.error {
        border-color: red;
    }
</style>


<div id="DivTablaSolicitudesPersonal" class="card p-5 rounded">
    <table id="TablaSolicitudVacacionesPersonal" class="table-responsive table align-middle mb-0 bg-white w-100 table table-striped table-hover table-bordered rounded-2">
        <thead class="bg-light">
            <tr>
                <th>Codigo Colaborador</th>
                <th>Nombre Completo</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Cantidad Dias</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>




<div id="DivAgregarNuevaSolicitudPersonal" style="display:none" class="container shadow-lg p-4">
    <form class="row" id="AgregarSolicitudVacacionPersonal">

        <p class="text-start my-3 fw-bold fs-4">Datos Colaborador</p>

        <!-- Lado izquierdo -->

        <div class="col-12">
            <div class="row pt-3">
                <label for="NombreColaborador" class="form-label">Colaborador:</label>
                <input type="text" class="form-control" id="NombreColaborador" name="NombreColaborador" disabled>
            </div>
        </div>



        <div class="col-6">
            <div class="row pt-3">
                <div class="form-group">
                    <label for="RangoFechasSolicitudVacPersonal" class="form-label">Rango Fechas:</label>
                    <div class="input-group">
                        <input type="text" name="RangoFechasSolicitudVacPersonal" id="RangoFechasSolicitudVacPersonal" class="form-control" placeholder="Rango de Fechas">
                        <button type="button" id="toggleFecha" class="btn btn-outline-secondary" aria-label="Desplegar date selectpicker" onclick="$('#RangoFechasSolicitudVacPersonal').data('daterangepicker').toggle()">
                            <i id="toggleIcon" class="las la-calendar-alt"></i>
                        </button>
                    </div>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="row pt-3">
                <label for="TipoVacacion" class="form-label">Tipo de Vacacion:</label>
                <select id="TipoVacacion" name="TipoVacacion" class="form-select" aria-label="Tipo Vacacion">
                </select>
            </div>
            <div class="invalid-feedback"></div>
        </div>

        <div class="p-4 col-12">
            <hr style="border: 2PX solid BLACK" />
        </div>

        <div class="col-3">
            <div class="form-group">
                <label for="CantidadDiasEnPosecion" class="form-label">Cantidad de Días Disponibles:</label>
                <input type="text" class="form-control" id="CantidadDiasEnPosecion" name="CantidadDiasEnPosecion" disabled>
            </div>
        </div>

        <div class="col-3">
            <div class="form-group">
                <label for="CantidaddiasSolicitado" class="form-label">Cantidad de Días Solicitado:</label>
                <input type="text" class="form-control" id="CantidaddiasSolicitado" name="CantidaddiasSolicitado" disabled>
            </div>
        </div>

        <div class="col-3" id="DiasrestantesContainer" style="display:none">
            <div class="form-group">
                <label for="CantidaddiasRestantes" class="form-label">Cantidad de Días Restantes:</label>
                <input type="text" class="form-control" id="CantidaddiasRestantes" name="CantidaddiasRestantes" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="DescripcionSolicitudVacacion">Descripción</label>
            <textarea class="form-control" id="DescripcionSolicitudVacacionPersonal" rows="2"></textarea>
        </div>



        <div style="text-align: right; background-color: #D3CECE;" class="p-2 pt-5">
            <button id="GuardarSolicitudVacacionPersonal" type="button" class="btn btn-primary"><i class="las la-save"></i> Solicitar</button>
            <button id="cancelButton" type="button" class="btn btn-danger"><i class="las la-undo"></i> Cancelar</button>
        </div>



    </form>
</div>

<div id="DivModificarClienteContrato" style="display:none" class="container shadow-lg p-4">
    @*Aqui se muestra el html de la de copia*@
</div>

@section scripts {
    <script type="text/javascript" src="~/ScriptsJS/GestionTiempo/Vacaciones/SolicitarVacacionesPersona.js"></script>
}