﻿﻿
@{
    ViewBag.Title = "Colaboradores";
}


@* Estilo del error *@
<style>
    form .error {
        color: red;
    }

    input.error {
        border-color: red;
    }
</style>


<div id="DivTablaColaboradores" class="card p-5 rounded">
    <table id="TablaDeColavboradores" class="table-responsive table align-middle mb-0 bg-white w-100 table table-striped table-hover table-bordered rounded-2">
        <thead class="bg-light">
            <tr>
                <th>Codigo Colaborador</th>
                <th>Nombre Completo</th>
                <th>Salario</th>
@*                 <th>Acciones</th> *@
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>




<div id="DivAgregarColaborador" style="display:none" class="container shadow-lg p-4">
    <form class="row" id="AgregarColaboradorYcontrato">

        <p class="text-start my-3 fw-bold fs-4">Datos Colaborador</p>

        <!-- Lado izquierdo -->

        <div class="col-6">
            <label for="NombresColaborador" class="form-label">Nombres:</label>
            <input type="text" class="form-control" id="NombresColaborador" name="NombresColaborador">
            <div class="invalid-feedback"></div>
        </div>

        <div class="col">

            <div class="form-group">
                <label for="ApellidosColaborador" class="form-label">Apellido:</label>
                <input type="text" name="ApellidosColaborador" id="ApellidosColaborador" class="form-control">
                <div class="invalid-feedback"></div>
            </div>

        </div>

        <div class=" p-4">
            <hr style="border: 2PX solid BLACK" />
        </div>


        <p class="text-start my-3 fw-bold fs-4">Datos de Contrato</p>


        <div class="col-6" style="margin-bottom: 20px;">
            <label for="SalarioColaborador" class="form-label">Salario Colaborador:</label>
            <div class="input-group">
                <span class="input-group-text">C$</span>
                <input type="text" class="form-control" id="SalarioColaborador" name="SalarioColaborador" oninput="formatNumber(this)">
                <div class="invalid-feedback"></div>
            </div>
        </div>


        <div class="col-6" style="margin-bottom: 20px;">
            <label for="CodigoColaborador" class="form-label">Codigo Colaborador:</label>
            <input type="text" class="form-control" id="CodigoColaborador" name="CodigoColaborador">
            <div class="invalid-feedback"></div>
        </div>

        <div class="col-6">
            <label for="FechaInicioContrato" class="form-label">Fecha de Inicio de Contrato</label>
            <input type="date" name="FechaInicioContrato" id="FechaInicioContrato"  class="w-100 form-control" />
        </div>

        <div class="col-6 mb-3">
            <label for="FechaFinContrato" class="form-label">Fecha de Fin de Contrato</label>
            <input type="date" name="FechaFinContrato" id="FechaFinContrato" class="w-100 form-control" />
        </div>

        <div class="accordion " id="AccordionUsuarioNuevo">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Datos Usuario (Opcional)
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#AccordionUsuarioNuevo">
                    <div class="accordion-body">
                        <div class="row" id="ContenedorUsuarioNuevo">
                            <div class="col-6">
                                <label for="NombreUsuarioNuevo" class="form-label">Nombre Usuario Nuevo:</label>
                                <input type="text" class="form-control" id="NombreUsuarioNuevo" name="NombreUsuarioNuevo" placeholder="Nombre Usuario">
                                <div class="invalid-feedback"></div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label for="ContraseñaUsuarioNuevo" class="form-label">Contraseña:</label>
                                    <div class="input-group">
                                        <input type="password" name="ContraseñaUsuarioNuevo" id="ContraseñaUsuarioNuevo" class="form-control" placeholder="Contraseña Usuario">
                                        <button type="button" id="togglePassword" class="btn btn-outline-secondary" aria-label="Toggle password visibility">
                                            <i id="toggleIcon" class="las la-eye"></i>
                                        </button>
                                    </div>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <label for="RolNuevoUsuario" class="form-label">Rol Usuario Nuevo:</label>
                            <select id="RolNuevoUsuario" name="RolNuevoUsuario" class="form-select" aria-label="Rol Usuario">
                                <option selected>Seleccione El Rol del Usuario</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div style="text-align: right; background-color: #D3CECE;" class="p-2 pt-2">
            <button type="submit" class="btn btn-primary"><i class="las la-save"></i> Agregar</button>
            <button id="cancelButton" type="button" class="btn btn-danger"><i class="las la-undo"></i> Cancelar</button>
        </div>



    </form>
</div>

<div id="DivModificarClienteContrato" style="display:none" class="container shadow-lg p-4">
    @*Aqui se muestra el html de la de copia*@
</div>

@section scripts {
@*     <script type="text/javascript" src="~/Scripts/JSvistas/Clientes/ValidacionesAgregar.js"></script> *@
    <script type="text/javascript" src="~/ScriptsJS/Contratacion//Colaboradores/Index.js"></script>
}